
@{
    ViewBag.Title = "Pago Exitoso";
}
<br />
<h3>Tu pago se completo en forma exitosa</h3>
<br />

<table>
    <tr>
        <td>OCC:</td>
        <td>@ViewBag.Transaction.Occ</td>
    </tr>

    <tr>
        <td>Número de carro:</td>
        <td>@ViewBag.ExternalUniqueNumber</td>
    </tr>
    <tr>
        <td>Código de autorización:</td>
        <td>@ViewBag.Transaction.AuthorizationCode</td>
    </tr>
    <tr>
        <td>Orden de compra:</td>
        <td>@ViewBag.Transaction.BuyOrder</td>
    </tr>
    <tr>
        <td>Descripción:</td>
        <td>@ViewBag.Transaction.TransactionDesc</td>
    </tr>
    <tr>
        <td>Monto compra:</td>
        <td>@ViewBag.Transaction.Amount</td>
    </tr>
    <tr>
        <td>Numero de cuotas:</td>
        <td>@ViewBag.Transaction.InstallmentsNumber</td>
    </tr>
    <tr>
        <td>Monto cuota:</td>
        <td>@ViewBag.Transaction.InstallmentsAmount</td>
    </tr>
    <tr>
        <td>Fecha:</td>
        <td>@ViewBag.Transaction.IssuedAt</td>
    </tr>
    <tr>
        <td>Anulación</td>
        <td>
            @Html.ActionLink("Anular esta compra", "Create", "Refund", new
            {
                amount = ViewBag.Transaction.Amount,
                occ = ViewBag.Transaction.Occ,
                externalUniqueNumber = ViewBag.ExternalUniqueNumber,
                authorizationCode = ViewBag.Transaction.AuthorizationCode
            })
        </td>
     </tr>
</table>
